<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMART FORM</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/front.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style_front.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <style type="text/css">
        @media (min-width: 992px) {
            .col-lg-6 {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 35%;
            }
        }
    </style>
</head>

<body>
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5">
                    <div class="banner_img d-none d-lg-block">
                        <img src="images/source.gif" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <img src="images/comp.gif">
                            <h1>SMART FORM</h1>
                            <p>Handle multiple responses in easier way, by simply scanning qrcode or generating it</p>
                            <span>
                                <a href="auth/login" class="btn btn-dark btn-lg">LOGIN</a>
                                <a href="auth/signup" class="btn btn-dark btn-lg">SIGNUP</a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    

</body>

</html>